<div class="div-padding flex-box" id="about">
    <div class="margin-right">
        <h2 class="heading text-red margin-bottom">About the Project</h2>
        <p class="text text-just line-height-1p4">
            The objective of this project is the construction of a wind turbine to reduce our need for fossil fuel. Hovione is committed to sustainability and the project is key to reducing carbon emission to help Ireland meets its climate goals. In doing so, the wind turbine will provide a substantial proportion of Hovione’s electrical power requirements, with the capability to produce 14,000 MWh/Year which is the equivalent of heating over 1900 homes for a year. This will be a large step towards a more sustainable future for Hovione in Ireland by replacing the current primary source of energy that is natural gas. The wind turbine will be located in a carpark owned by Hovione.
        </p>
        <p class="text text-just line-height-1p4">
            The proposed turbine will have an output of up to 4.3 megawatts with an overall height of 150m and a rotor diameter of 138m. The turbine will be of a typical three-bladed modern design and will be constructed with the surrounding landscape in mind, using a pale natural colour and matching other turbines in surrounding area. The main features of the development will include:
            <ul class="text text-just line-height-1p4">
                <li>The delivery and installation of an Enercon 4.3 MW Wind Turbine, model number E-138-EP3</li>
                <li>Buried electrical and fibre-optic cabling running from the turbine connecting to the main Hovione campus
                    (under the L6517)</li>
                <li>All of the associated infrastructure, including crane pad and hardstands</li>
                <li>A substation within the existing Hovione campus</li>
            </ul>
        </p>
    </div>
    <img src="assets/about-img.webp" alt="Project Image" class="about-image margin-left">
</div>