<div class="brochure-padding bg-red">
    <p class="text text-center text-white margin-bottom">
        Hovione, a specialist integrated CDMO, leader in spray drying and particle engineering, has partnered with Trident Project Engineering, Mainline Group and Aqualicense to coordinate the construction of a wind turbine on land adjacent to the Hovione Cork campus in Loughbeg, Ringaskiddy with the objective of reducing Hovione’s carbon footprint.
    </p>
    <p class="text text-center text-white margin-bottom">
        You are invited to browse the FAQs below. Please contact us if you have any inquiries to make or wish to discuss the project further. Below you can also download a brochure containing a detailed explanation of the project, as well as information about Hovione as a company.
    </p>
    <p class="text margin-bottom"></p>
    <a class="brochure-btn text text-dark hover-red bg-white" href="assets\Hovione-Cork-Wind-Turbine-Brochure.pdf" target="_blank"><i class="fa fa-book-open"></i> View Brochure</a>
</div>