<div class="flex-box div-padding bg-dark flex-col" id="contact">
    <div class="flex-one margin-right">
    <h2 class="heading text-white margin-bottom">Get in Touch</h2>
    <p class="text text-white text-just">
    All opinions surrounding the proposed project are welcome. There will be a second public information meeting held in Ringaskiddy Community Centre on Monday 13th May at 7pm. 
    </p>
    <p class="text text-white text-just">
    All interested in the project are welcome to attend. You can reach us via email or by calling us on our dedicated, toll-free phone line.
    </p>
    </div>
    <div class="flex-column margin-left flex-margin">
    <!-- a class="text-med text-white hover-red margin-bottom" href="tel:1800938877"><i class="fa fa-phone"></i> 1800 938 877</a -->
    <a class="text-med text-white hover-red" href="mailto:info@hovionecorkwindturbine.com"><i class="fa fa-envelope"></i> info@hovionecorkwindturbine.com</a>
    </div>
</div>