<div class="bg-white div-padding no-bottom-padding" id="faq">
    <h2 class="heading text-red margin-bottom">Frequently Asked Questions</h2>
    <div class="div-padding no-top-padding">
        <button class="accordion acc-padding text text-dark hover-red">What will be the visual impact of the wind turbine on the area?</button>
        <div class="panel panel-padding">
            <p class="text text-just panel-text-padding">A Landscape and Visual Impact Assessment will be carried out by a qualified, competent, and independent person prior to submission of the planning application, the results of which will be made available to the public upon completion of the assessment.</p>
        </div>
        <button class="accordion acc-padding text text-dark hover-red">What is Shadow Flicker?</button>
        <div class="panel panel-padding">
            <p class="text text-just panel-text-padding">Shadow flicker occurs in the profile of the wind turbine and is the flickering effect caused by the rotation of the turbine's blades. The effect of shadow flicker on surrounding properties will be assessed in the Landscape and Visual Impact Assessment.</p>
        </div>
        <button class="accordion acc-padding text text-dark hover-red">How loud will the turbine be?</button>
        <div class="panel panel-padding">
            <p class="text text-just panel-text-padding">A Noise and Vibration Impact Assessment will be carried out by independent and qualified professionals prior to the submission of the planning application, the results of which will be available upon completion of the assessment. Necessary mitigation measures will be established if any impacts are identified.</p>
        </div>
        <button class="accordion acc-padding text text-dark hover-red">How will the turbine effect birds/bats in the area?</button>
        <div class="panel panel-padding">
            <p class="text text-just panel-text-padding">Cumulatively, with the other turbines in the area there is unlikely to be any large disturbance as they are well distanced from each other. An impact assessment for birds and bats will be carried out by qualified, competent, and independent specialists. The results of this assessment will be made available to the public.</p>
        </div>
        <button class="accordion acc-padding text text-dark hover-red">Will the turbine have any impact on the waters of Cork Harbour?</button>
        <div class="panel panel-padding">
            <p class="text text-just panel-text-padding">The turbine is planned for an industrial area c. 160m from the closest point on the shore, an intertidal area to the south, separated by roads, treelines and hedgerows. With the employment of suitable mitigation, no significant effects will occur to the waters in Cork Harbour. A full assessment of hydrology and pollutants will be conducted as part of the Environmental Impact Assessment Report.</p>
        </div>
        <button class="accordion acc-padding text text-dark hover-red">Where will the turbine be?</button>
        <div class="panel panel-padding">
            <p class="text text-just panel-text-padding">The proposed site for the turbine is located to the north of the main Hovione campus, near an overflow carpark in an unoccupied plot.</p>
        </div>
        <button class="accordion acc-padding text text-dark hover-red">Who will the turbine supply?</button>
        <div class="panel panel-padding">
            <p class="text text-just panel-text-padding">The turbine will generate power solely for the Hovione Ringaskiddy campus in line with plans to reduce carbon emissions of the plant.</p>
        </div>
        <button class="accordion acc-padding text text-dark hover-red">Why was the turbine chosen?</button>
        <div class="panel panel-padding">
            <p class="text text-just panel-text-padding">The Enercon E-138-EP3 Wind Turbine is a popular model, with over 600 constructed across the world since the model was launched in 2020. This popularity is due to the versatility of the model, which can withstand a wide array of weather conditions, in conjunction with the production of high energy yields. Additionally, it is optimised for noise control, ensuring a minimal impact on the surrounding area.</p>
        </div>
        <button class="accordion acc-padding text text-dark hover-red">What phase is it in?</button>
        <div class="panel panel-padding">
            <p class="text text-just panel-text-padding">The construction of the turbine is still currently in the planning and investigation phase. The necessary Environmental Impact Assessment Report is being conducted and will inform future steps as the project moves forward.</p>
        </div>
        <button class="accordion acc-padding text text-dark hover-red">What effect will the turbine have on wildlife?</button>
        <div class="panel panel-padding">
            <p class="text text-just panel-text-padding">Ecological surveys conducted by qualified, competent and independent specialists are currently underway to assess the potential impacts of the turbine construction and operation. Necessary mitigation plans will be drawn up following the results of these surveys.</p>
        </div>
        <button class="accordion acc-padding text text-dark hover-red">How can I voice my opinion?</button>
        <div class="panel panel-padding">
            <p class="text text-just panel-text-padding">There will two open forum discussions held in Ringaskiddy Community Hall, which you should feel free to attend with and questions or concerns you may have regarding the project. Additionally, you can contact us by phone or through email using the details provided above.</p>
        </div>
        <button class="accordion acc-padding text text-dark hover-red">Where can I find more information?</button>
        <div class="panel panel-padding">
            <p class="text text-just panel-text-padding">Please get in touch with us by phone or through email using the details provided below and we will endeavour to answer any further questions you may have.</p>
        </div>
    </div>
</div>

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>