<div class="footer-padding bg-red flex-box">
    <p class="nav-text text-white">© {% year %} Aqualicense Limited | All Rights Reserved</p>
    <p class="nav-text text-white">
    <a class="nav-text text-white hover-red" href="assets/Hovionecorkwindturbine-Disclaimer.pdf" target="_blank" class="footer-link">Disclaimer</a>
    | 
    <a class="nav-text text-white hover-red" href="assets/Hovionecorkwindturbine-Privacy-Policy.pdf" target="_blank" class="footer-link">Privacy Policy</a>
    </p>
</div>