<div class="flex-box nav-padding bg-white">
    <img src="assets/logo.webp" alt="Hovione | in it for life" class="logo">
    <nav>
        <a href="#about" class="nav-text text-dark hover-red font-bold margin-right-nav">PROJECT INFO</a>
        <a href="#faq" class="nav-text text-dark hover-red font-bold margin-right-nav">FAQS</a>
        <a href="#contact" class="nav-text text-red hover-red font-bold">CONTACT US</a>
    </nav>
</div>