<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Hovione Cork are planning to construct a turbine in Ringaskiddy. Have your say!"/>
    <meta name="robots" content="index, follow"/>
    <title>Hovione Cork Wind Turbine</title>
    <link rel="stylesheet" href="css/global.css"/>
    <link href="https://fonts.googleapis.com/css?family=Monserrat" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/7b5db1341d.js" crossorigin="anonymous"></script>
</head>
<body>
    {% include "components/header.njk" %}
    {{ content | safe}}
    {% include "components/footer.njk" %}
</body>
</html>