<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Ondine Survey - From Sky to Seabed"/>
    <meta name="robots" content="index, follow"/>
    <title>Ondine Survey</title>
    <link rel="stylesheet" href="css/global.css"/>
</head>
<body>
    {% include "components/header.njk" %}
    {{ content | safe}}
    {% include "components/footer.njk" %}
</body>
</html>